# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main


resources:
- repo: self

variables:
  tag: 13 #'$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      name: Default
      demands:
      - agent.name -equals BMW-ZenBook-UX331FA-UX331FA
    steps:
    #- task: Docker@2
    #  inputs:
    #    containerRegistry: 'dockerRegistryWass'
    #    repository: 'mwassim211/currency-exchange-devops'
    #    command: 'buildAndPush'
    #    Dockerfile: '**/Dockerfile'
    #    tags: '$(tag)'
    - bash: echo $(System.DefaultWorkingDirectory)
    - bash: echo '$(Build.ArtifactStagingDirectory)'
    - task: CopyFiles@2
      inputs:
        SourceFolder: '$(System.DefaultWorkingDirectory)'
        Contents: '**/*.yaml'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'
    - bash: ls -R $(Build.ArtifactStagingDirectory)
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'manifests'
        publishLocation: 'Container'

- stage: Deploy
  displayName: Deploy image
  jobs:  
  - job: Deploy
    displayName: Deploy
    pool:
      name: Default
      demands:
      - agent.name -equals BMW-ZenBook-UX331FA-UX331FA
    steps:
    - task: DownloadBuildArtifacts@0
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'manifests'
        itemPattern: '**/*.yaml'
        downloadPath: '$(System.ArtifactsDirectory)'
    - task: KubernetesManifest@0
      inputs:
        action: 'deploy'
        kubernetesServiceConnection: 'azure-kubernetes-connection'
        namespace: 'default'
        manifests: '$(System.ArtifactsDirectory)/configuration/iaac/azure/kubernetes/deployment.yaml'
        containers: 'mwassim211/currency-exchange-devops:{tag}'